@import "../../styles/variables.scss";

.wrapper {
    background-color: #fff;
    color: #000;
    
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin: 20px 20px;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .avatar {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 64px;
        height: 64px;
        
        margin: 0 10px;
        padding: 5px;

        border-radius: 10px;
        background-color: $bg-color;
    }

    .infos {
        text-align: center;
        padding: 5px;

        span {
            display: block;
        }

        .name {
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: bold;
        }
        
        .description {
            font-size: 14px;
        }
    }
}