<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <base href="/" />

        <title><%= APP_NAME %></title>
    </head>
    <body>
        <noscript>
            This website requires JavaScript to run.
        </noscript>
        
        <div id="app"></div>
    </body>
</html>