.wrapper {
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        width: 120px;
        margin: 20px;
    }

    .credits {
        max-width: 500px;

        a {
            color: #fff;
        }
    }
}